/* A rudimentary "reset" */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

/* Make HTML 5 elements block level */
article, aside, figure, footer, header, hgroup, nav, section, time {
  display: block;
}

html {
  background: #f1f1f1;
  color: #424242;
  font-family: anonymouspro, monospace;
  font-size: 18px;
  line-height: 1.25;
}

#container {
  width: 800px;
  margin: auto;
}

a {
  color: #f14242;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 133%;
  margin-bottom: 1em;
}

h2 {
  font-size: 111%;
}

code {
  background: #fff;
  padding: 2px 4px;
}

blockquote {
  border-left: 8px solid #d1d1d1;
  padding: 0 24px;
  font-style: italic;
}
blockquote ul, blockquote ol {
  list-style-position: inside;
}

#bananaphone {
  margin: 24px 0;
}
#bananaphone h1,
#bananaphone nav,
#bananaphone ul,
#bananaphone li {
  display: inline-block;
  vertical-align: baseline;
}
#bananaphone nav:before {
  content: '|';
  color: #919191;
}
#bananaphone a {
  color: #919191;
}
#bananaphone a:hover {
  text-decoration: none;
}
#bananaphone li {
  margin-left: 12px;
  list-style: none;
}
#bananaphone h1 {
  font-size: 111%;
}
#bananaphone h1 span {
  color: #424242;
  font-size: 133%;
}

#content p,
#content ul,
#content pre {
  margin-bottom: 1em;
}

#post-list .date {
  width: 128px;
}

time {
  color: #919191;
}

footer {
  margin: 24px auto;
  text-align: center;
}

.social-links {
  margin: auto;
  display: inline-block;
  font-size: 24px;
}
.social-links a {
  color: #919191;
}
.social-links a:hover {
  color: #424242;
  text-decoration: none;
}
.social-links li {
  display: inline-block;
  list-style: none;
}

.post-footer {
  text-align: center;
}

.gist {
  font-size: 75%;
}

@media screen and (max-width: 800px) {
  #container {
    width: 92%;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }

  ul, ol {
    list-style-position: inside;
  }

  #bananphone nav {
    display: block;
  }
}
