/*
 * based on the original Monokai: http://www.monokai.nl/blog/2006/07/15/textmate-color-theme/
 * 272822 - bg
 * F8F8F0 - fg
 * 75715E - grey
 * E6DB74 - yellow
 * AE81FF - purple
 * F92672 - pink
 * 66D9EF - blue
 * A6E22E - green
 * FD971F - orange
 */
$page_color: #272822;
$font_color: #f8f8f0;
$link_color: #66d9ef;
$link_color_visited: #ae81ff;
$header_color: #f8f8f0;
$code_bg_color: #49483e;
$bananaphone_bg: #f92672;
$del_color: #75715e;

/* A rudimentary "reset" */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

/* Make HTML 5 elements block level */
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section,
time {
  display: block;
}

html {
  background: $page_color;
}

html,
code {
  color: $font_color;
  font-family: Inconsolata, monospace;
  font-size: 18px;
  line-height: 1.5;
}

#container {
  width: 700px;
  margin: auto;
}

// general stuff

a {
  color: $link_color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $link_color_visited;
  }
}

del {
  color: $del_color;
}

h1 {
  font-size: 133%;
}

h2 {
  font-size: 111%;
}

code {
  background: $code_bg_color;
  padding: 2px 4px;
}

// reset for pygments stuff
// .highlight code {
//   background: initial;
// }

blockquote {
  padding: 0 48px;
  font-style: italic;
  position: relative;

  &:before {
    content: '“';
    font-size: 400%;
    left: -12px;
    line-height: 1;
    position: absolute;
  }

  ul,
  ol {
    list-style-position: inside;
  }
}

////////////////

#bananaphone {
  border-bottom: 1px solid $del_color;
  margin: 24px 0;
  padding-bottom: 24px;
  text-align: center;

  nav,
  ul,
  li {
    display: inline-block;
    vertical-align: baseline;
  }

  a {
    color: $header_color;

    &:hover {
      text-decoration: none;
    }
  }

  li {
    list-style: none;
    + li {
      margin-left: 24px;
    }
  }

  h1 {
    a {
      background: $bananaphone_bg;
      color: $page_color;
      font-size: 250%;
      padding: 0 15px;
    }
  }
}

#content {
  p,
  ul,
  pre {
    margin-bottom: 1em;
  }
}

header {
  margin-bottom: 1em;
}

#post-list {
  .date {
    width: 128px;
  }
}

time {
  color: $header_color;
}

footer {
  margin: 24px auto;
  text-align: center;
}

.social-links {
  margin: auto;
  display: inline-block;
  font-size: 24px;

  a {
    color: $del_color;
    transition: all 0.2s;

    &:hover {
      color: $font_color;
      text-decoration: none;
    }
  }

  li {
    display: inline-block;
    list-style: none;
    + li {
      margin-left: 0.5em;
    }
  }
}

.post-footer {
  text-align: center;
}

// because the code is too big
.gist {
  font-size: 75%;
}

// Because the themes aren't perfect. It's based on Monokai so should be similar colors, but still, reset.
code[class*='language-'],
pre[class*='language-'] {
  color: inherit;
  font-family: inherit;
  text-shadow: none;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: $code_bg_color;
  border-radius: 0;
  padding: 2px 4px;
}

// And we need to make line highlights work.
.gatsby-highlight {
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;

  /**
   * Remove the default PrismJS theme background-color, border-radius, margin,
   * padding and overflow.
   * 1. Make the element just wide enough to fit its content.
   * 2. Always fill the visible space in .gatsby-highlight.
   */
  pre[class*='language-'] {
    background-color: transparent;
    margin: 0;
    padding: 0;
    overflow: initial;
    float: left; /* 1 */
    min-width: 100%; /* 2 */
  }
}

// And custom line highlighting
.gatsby-highlight-code-line {
  background: $code_bg_color;
  display: block;
  margin: 0 -1em;
  padding: 0 1em;
}

@media screen and (max-width: 800px) {
  #container {
    width: 92%;
  }
}

@media screen and (max-width: 600px) {
  html,
  code {
    font-size: 14px;
  }
  ul,
  ol {
    list-style-position: inside;
  }
  #bananphone {
    nav {
      display: block;
    }
  }
}
