<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paul O’Shannessy - {{ page.title | markdownify2 }}</title>
  <meta charset="utf-8" />

  <link href="http://static.zpao.com/favicon.png" rel="shortcut icon" type="image/png">
  <link rel="stylesheet" href="/css/backtothefuture.css">

  <link href="http://feeds.feedburner.com/zpao" rel="alternate" type="application/rss+xml">

  <!-- remember when openid was a thing? -->
  <link href="http://www.myopenid.com/server" rel="openid.server">
  <link href="http://zpao.myopenid.com/" rel="openid.delegate">
  <link content="http://www.myopenid.com/xrds?username=zpao.myopenid.com" http-equiv="X-XRDS-Location">

  <script type="text/javascript" src="http://use.typekit.com/ucz1zae.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-66375-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>

  <header id="top-dog">
    <h1><a href="/">ZPAO</a></h1>
    <h2><a href="/">Paul O&rsquo;Shannessy</a></h2>
    <nav>
      <ul>
        <li><a href="/about">About + Contact</a></li>
        <li><a href="/posts">Archive</a></li>
      </ul>
    </nav>
    <p>
      <a href="https://twitter.com/zpao" class="twitter-follow-button" data-show-count="false">Follow @zpao</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </p>
  </header>

  <section id="content">
    <article>
      <header>
        <h1>{{ page.title | markdownify2 }}</h1>
        {% if page.blurb %}
          <h2>{{ page.blurb | markdownify2 }}</h2>
        {% endif %}
        {% if page.date %}
          <h3>{{ page.date | date: "%B %e, %Y" }}</h3>
        {% endif %}
      </header>
      <div class="post-content">
        {{ content }}
      </div>
    </article>
  </section>

  <script src='http://mint.zpao.com/?js' type='text/javascript'></script>
</body>
</html>

